.recording-page {
    padding: 40px; /* Consistent padding */
    color: #36454F;
    text-align: center;
}

.recording-header {
    font-size: 3em; /* Larger font size for desktop */
    margin-bottom: 40px; /* Increased margin to avoid touching the navbar */
    color: #4a6977;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Adjusted gap for better spacing on smaller screens */
}

.video-block {
    width: 100%; /* Full width to better fit mobile devices */
    max-width: 500px; /* Maximum width for desktop */
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for 3D effect */
    margin: auto; /* Ensures center alignment of each video block */
}

.youtube-video {
    width: 100%;
    height: auto; /* Adjusted to auto for responsive aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

.video-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
    text-align: center;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .recording-header {
        font-size: 2em; /* Smaller font size for smaller screens */
    }

    .youtube-video {
        height: auto; /* Auto height for fluid responsiveness */
        aspect-ratio: 16 / 9; /* Maintain aspect ratio on mobile */
    }

    .video-block {
        padding: 5px; /* Less padding on smaller screens */
    }

    .video-container {
        gap: 10px; /* Smaller gap on smaller devices */
    }
}
